/*######### DEFAULTS #########*/

nav,header,footer{
    display:block;
}

body{
    line-height:1;
    margin:0;
}
/*####### NAV BAR ##########*/ 

header{
    background: #161616;
    height:800px;
}
.container{
    background-color:rgb(0, 0, 0);
    align-items:center;
    margin:0px;
    padding:10px 30px 25px;
    box-shadow:2px 2px 12px rgb(44, 43, 43);
}
header nav ul.topnav li a{
    color:white;
    text-decoration:none ;
    font-size:20px;
    margin-right: 3rem;
    cursor:pointer;
    transition:all .5s;
    
}
.nav_left a{
    color: #3dcfd3;
    text-decoration: none;
    font-size:30px;
}

nav{
    width:100%;
    margin:0;
}

ul.topnav li{
    list-style:none;
    float:right;
}
.left_nav{
    float:left;
}